.button {
    margin: 0;
    background-color: red;

    text-align: center;
    width: 10%;
    height: 5%;

    font-family: Helvetica;
    font-weight: 800;
}

.buttonContainer {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}